body {
    font-size: 15px;
}

.container {
    margin-top: 50px;
}

.row p {
    margin-left: 100px;
}

.txt-error-emphase {
    font-size: 6rem;
}

.txt-error-emphase-small {
    font-size: 2.5rem;
}

a:hover {
    text-decoration: none;
}