<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-4">
          <div class="card card-layout my-5">
            <div class="card card-body text-center">
              <p class="mb-0 text-primary" style="font-size: 6rem;">404</p>
              <p style="font-size: 2.5rem;">page not found</p>
              <p style="font-size: 1.5rem;">
                Không tìm thấy dữ liệu của sinh viên có mã số {{ mssv }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
